// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


// ========================= NAV_BAR ========================= //
.bespoke-parent 
	background : url('../images/galaxy.jpg')

.bespoke-slide
	background : transparent

.glyphicon
	letter-spacing : 15px
	margin-top : 5px
	text-shadow : 1px 1px 4px red

.glyphiconY
	text-shadow : none

.red 
	color : #fe9797

.yellow
	color : #f7fb5e

.star
	color : white

// ========================= SLIDE #1 ========================= //
.glyphiconX
	text-shadow : -2px 2px 3px black 
	font-size : 15pt
	color : white

.jdl 
	color : navy
	font-family : Tahoma, Geneva, sans-serif
	font-size : 30pt
	text-shadow: 2px 2px 4px white
	margin-top : 100px
	margin-bottom : 30px


.jdl2
	color : white
	text-shadow : 3px 3px 3px navy
	text-align : center
	font-size : 17pt
	font-family : Arial
	
.logo
	margin : 60px
	width : 120px
	height : @width
	border-radius : 50%
	opacity:0.8
	border : 5px solid #ffe

	transition: 0.5s all

.logo:hover
	border : 2px solid white
	border-top : 5px solid navy
	border-top-style : dotted
	border-bottom : 5px solid navy
	border-bottom-style : dotted
	transform: rotate(360deg) scale(1.5)
	box-shadow :  0 0px 6px rgba(0,0,0,.5)
	opacity : 1

// ========================= SLIDE #2 ========================= //
.sideright
	text-align : right
	margin-top : -300px
	margin-right : -250px
	color : #446ee4
	font-family : mistral
	font-size : 35pt
	letter-spacing : 2px
	text-shadow: 1px 0px #ccc, 0px 1px #ccc, 2px 1px #ddd, 1px 2px #bbb, 3px 2px #ddd, 
		         2px 3px #bbb, 4px 3px #ddd, 3px 4px #bbb, 5px 4px #ddd, 4px 5px #bbb, 
		         6px 5px #ddd, 5px 6px #bbb, 6px 7px #ddd, 7px 6px #bbb, 8px 7px #ddd, 
		         7px 8px blue

.tim
	color : #e5ede0
	text-shadow : -2px -3px 7px blue
	font-family : monotype corsiva
	font-size : 25pt

.edu
	color : #f7fb5e
	text-shadow : -1px -1px 2px black
	font-weight : bold
	font-family : comic sans ms
	font-size : 12pt
	margin-top : 20px

// ========================= SLIDE #3 ========================= //
.jdl3
	background-color : rgba(255,255,255,0.5)
	border-radius : 15px 0px
	font-family : Colonna MT
	font-weight : bold
	font-size : 20pt
	border : 2px solid white
	box-shadow : 2px 2px 5px black
	border-style : dashed
	padding : 5px

.par1
	background-color : rgba(255,255,255,0.5)
	border-radius : 15px 0px
	color : black
	padding : 5px
	font-size : 12pt
	text-align : justify
	border : 2px solid white
	border-style : dashed
	box-shadow : 2px 2px 5px black

// ========================= SLIDE #4 dan #5 ========================= //
.par_mar
	margin-top : 30px

// ========================= SLIDE #6 ========================= //
.jenis 
	width : 130px
	font-size : 16pt
	background-color : rgba(255,255,255,0.5)
	border-radius : 15px 0px
	text-align : center
	border : 1px solid white
	border-style : dotted
	box-shadow : 2px 2px 5px black
	margin-top : -80px

.poin 
	text-align : justify
	background-color : rgba(255,255,255,0.5)
	border-radius : 15px 0px
	border : 1px solid white
	border-style : dashed
	box-shadow : 2px 2px 5px black
	padding : 8px

.icon
	font-size : 14pt
	color : blue
	font-weight : bold
	text-shadow : none

// ========================= SLIDE #7 ========================= //
.uav
	text-align : left
	margin-bottom : 20px

.copter
	color : #f55d7d
	text-align : left
	border : 1px solid white
	background-color : rgba(255,255,255,0.5)
	box-shadow : -1px -1px 6px black
	padding : 7px

// ========================= SLIDE #8 - #14 ========================= //
.jdl4
	background-color : rgba(255,255,255,0.5)
	font-family : Colonna MT
	font-weight : bold
	font-size : 18pt
	border-radius : 3px
	box-shadow : 2px 2px 5px black
	padding : 5px

.bagian 
	color : navy
	font-weight : bold

.copterX
	background-color : transparent
	border : 3px solid white
	border-radius : 15px 0; 
	text-align : justify
	padding : 5px

.copterY
	background-color : rgba(255,255,255,0.3)
	text-align : justify
	padding : 5px
	margin-top : 5px
	margin-bottom : 5px
	border-radius : 10px

.uavX
	text-align : justify
	color : white
	text-shadow : -1px -1px 2px red

.uavY
	text-align : justify
	color : black

.copterXY
	color : navy
	text-shadow : none
	font-size : 14pt

.gambar
	margin : 60px
	width : 120px
	height : @width
	border-radius : 50%
	opacity:0.8
	border : 5px solid #ffe

	transition: 0.5s all

.gambar:hover
	border : 2px solid white
	transform: rotate(360deg) scale(1.9)
	box-shadow :  0 0px 6px rgba(0,0,0,.5)
	opacity : 1

// ========================= SLIDE #15 dan #16 ========================= //
.jdl5
	background-color : rgba(255,255,255,0.2)
	font-family : Colonna MT
	font-weight : bold
	font-size : 18pt
	border-radius : 20px 20px 0 0
	box-shadow : 2px 2px 5px black
	padding : 5px
	margin-top : 35px
	
.poin2 
	text-align : justify
	background-color : rgba(255,255,255,0.1)
	border-radius : 0px 30px
	border : 1px solid white
	border-style : solid
	box-shadow : -2px -2px 5px black
	padding : 5px
	font-size : 11pt
	font-family : Calibri

.layout14
	transition: 0.5s all

.layout14:hover
	transform: scale(1.2)

.model
	color : navy
	font-size : 12pt
	font-weight : bold
	text-shadow : none
	margin-left : 3px
	letter-spacing : 1px
	font-family : comic sans ms

.next_icon
	text-shadow : none
	font-size : 20pt
	color : #fd9795