doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Teknologi Drone

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/bootstrap.min.css')

  body

    div
      nav.navbar.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand
              img(src='images/admin.png', style='width : 80px; height :60px')

          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') X-Red Tim

            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star

    article

      section#slide1
        h2.jdl Teknologi Drone
        div.jdl2 | CAMERA |
      
        img.logo(src='images/drone.png')

      section#slide2
        h2.tim Nama Anggota 

        .container
          .row
            .col-lg-4
                .row Bezaro Gea [15.111.3411]
                br
                .row Hana Girsang [15.111.2173]
                br
                .row Noel Anugerah Telaumbanua [15.111.0784]
                br

        img.logox(src='images/mikroskil.jpg')
        row.edu 2017

      section#slide3
        h2.jd3 Kegunaan Teknologi Drone

        abbr Helicam atau drone adalah sebuah alat unik yang bisa memotret atau merekam gambar dari ketinggian maksimal 11.000 kaki, karena alat ini memang bisa terbang. Prinsip alat ini sederhana,kamera yang di gunakan di helicam atau drone ini memang bukan kamera biasa, melainkan kamera Canon 7D DSLR, selain itu alat ini juga di lengkapi dengan GPS ( Global Position System) yang memungkinkan kita utuk tetap dapat memonitor keberadaan alat ini saat terbang, dan dengan sistem monitor 5.8 GHz video memungkinkan anda untuk dapat melihat setiap momen yang tertangkap kamera alat ini.

        
      section#slide4
        <h2 style="text-shadow: 1px 0px #ccc, 0px 1px #ccc, 2px 1px #ddd, 1px 2px #bbb, 3px 2px #ddd, 2px 3px #bbb, 4px 3px #ddd, 3px 4px #bbb, 5px 4px #ddd, 4px 5px #bbb, 6px 5px #ddd, 5px 6px #bbb, 7px 6px #ddd, 6px 7px #bbb, 8px 7px #ddd, 7px 8px #bbb, 8px 8px #ddd; font-size: 50px; color:#eee; text-align:center; text-height:font-size;color:blue;">Jenis-Jenis Drone</h2>

        <abbr> Terdapat dua jenis drone, yaitu multicopter dan fixed wing.
        Keuntungan dari multicopter bisa terbang vertikal hingga 300 meter,Multicopter dapat terbang selama 40 menit dengan area cover 100-400 hektare.Sedang untuk jenis fixed wing, meski bisa meliputi area yang jauh lebih luas dan terbang hingga 1,5 jam, drone ini tidak bisa terbang secara vertikal.
        
      section#slide5
        
        <h2 style="text-shadow: 1px 0px #ccc, 0px 1px #ccc, 2px 1px #ddd, 1px 2px #bbb, 3px 2px #ddd, 2px 3px #bbb, 4px 3px #ddd, 3px 4px #bbb, 5px 4px #ddd, 4px 5px #bbb, 6px 5px #ddd, 5px 6px #bbb, 7px 6px #ddd, 6px 7px #bbb, 8px 7px #ddd, 7px 8px #bbb, 8px 8px #ddd; font-size: 50px; color:#eee; text-align:center; text-height:font-size;color:blue;">Jenis Baling-Baling Drone</h2>
        
        ul
          li a) 3 baling baling (3Copter)
          li b) 4 baling baling (Quadcopter)
          li c) 6 baling baling (HexaCopter)
          li d) 8 Baling baling (Octacopter)

      section#slide6
        
        <h2 style="text-shadow: 1px 0px #ccc, 0px 1px #ccc, 2px 1px #ddd, 1px 2px #bbb, 3px 2px #ddd, 2px 3px #bbb, 4px 3px #ddd, 3px 4px #bbb, 5px 4px #ddd, 4px 5px #bbb, 6px 5px #ddd, 5px 6px #bbb, 7px 6px #ddd, 6px 7px #bbb, 8px 7px #ddd, 7px 8px #bbb, 8px 8px #ddd; font-size: 50px; color:#eee; text-align:center; text-height:font-size;color:blue;">Kelebihan Drone</h2>

        ul
          li 1.Tidak perlu tenaga ahli atau pilot untuk menerbangkannya
          li 2.Harga lebih murah dibandingkan memakai pesawat umum berawak
          li 3.Biaya perawatan lebih terjangkau
          li 4.Bersifat portable sehingga bisa lebih mudah dibawa kemana saja
          li 5.Keamanan pada manusia lebih terjamin jika terjadi kesalahan sistem
          li 6.Ukurannya kecil dan beratnya pun sangat ringan
          li 7.Sistem navigasi yang canggih
          li 8.Dapat merekam kejadian disekitar apabila dipasangkan kamera.

      section#slide7
        
        <h2 style="text-shadow: 1px 0px #ccc, 0px 1px #ccc, 2px 1px #ddd, 1px 2px #bbb, 3px 2px #ddd, 2px 3px #bbb, 4px 3px #ddd, 3px 4px #bbb, 5px 4px #ddd, 4px 5px #bbb, 6px 5px #ddd, 5px 6px #bbb, 7px 6px #ddd, 6px 7px #bbb, 8px 7px #ddd, 7px 8px #bbb, 8px 8px #ddd; font-size: 50px; color:#eee; text-align:center; text-height:font-size;color:blue;">Kekurangan Drone</h2>

        ul
          li 1.Sangat rawan rusak jika terjadi badai di lautan karena ukurannya yang kecil
          li 2.Harus orang yg mengerti untuk pengoprasiannya.
          li 3.Tidak dapat terbang terlalu jauh dengan kontrol sistemnya.
          li 4.Rawan rusak apabila terdapat cuaca yang buruk.
          li 5.Memiliki energi untuk terbang yang cepat habis.



       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Jenis Baling-Baling Drone
        
        ul
          <li> a) 3 baling baling (3Copter) </li>
          li b) 4 baling baling (Quadcopter)
          li c) 6 baling baling (HexaCopter)
          li d) 8 Baling baling (Octacopter)


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Kegunaan Dari Drone
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
    script(src='build/bootstrap.min.js')