doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Teknologi Drone

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='build/etalage.css')
    link(rel='stylesheet', type='text/css', href='build/animate.css')

  body   
  .container
    .row
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            span.glyphicon.glyphicon-star.star 
            span.glyphicon.glyphicon-star.star
            span.glyphicon.glyphicon-star.star 
             
            a.navbar-brand(href='#') X - 
              span.red Red 
              span.yellow TEAM

          .navbar-collapse.collapse
            ul.navbar-right.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.glyphicon.glyphicon-check.glyphiconY
                  |  File Presentasi
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#3') Pengertian Drone 
                  li
                    a(href='#4') Jenis Drone
                  li
                    a(href='#') Slide 5
                  li
                    a(href='#') Slide 6
                  li
                    a(href='#') Slide 7
                  li
                    a(href='#') Slide 8
                  li
                    a(href='#') Slide 9

      article
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2.jdl.animated.infinite.zoomIn TEKNOLOGI DRONE

          div
            span.glyphicon.glyphicon-facetime-video.glyphiconX 
              span.jdl2 CAMERA 

          img.logo(src='images/drone.png')

        section.emphatic-text(data-bespoke-backdrop='emphatic') 
          .container
            .col.lg-8
              .row
                ul#etalage
                  li
                    img.etalage_thumb_image(src='./images/@bezaro.jpg')
                    img.etalage_source_image(src='./images/@bezaro.jpg') 
                  li
                    img.etalage_thumb_image(src='./images/@hana.jpg')
                    img.etalage_source_image(src='./images/@hana.jpg') 
                  li
                    img.etalage_thumb_image(src='./images/@noel.jpg')
                    img.etalage_source_image(src='./images/@noel.jpg') 

          div.sideright Nama Anggota
            h2.tim Bezaro Gea [15.111.3411]
            
            h2.tim Hana Girsang [15.111.2173]
            
            h2.tim Noel Anugerah Telaumbanua [15.111.0784]

          row.edu 2017
                    
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3.jdl3.animated.infinite.flash Pengertian Drone
          
          img.img-responsive(src='images/dronex.gif') 
          
          span.par1 Drone [Helicam] adalah sebuah alat unik yang bisa memotret atau merekam gambar dari ketinggian maksimal 11.000 kaki, karena alat ini memang bisa terbang. Prinsip alat ini menggunakan kamera Canon 7D DSLR, selain itu alat ini juga di lengkapi dengan GPS (Global Position System) yang memungkinkan tetap dapat memonitor keberadaan alat ini saat terbang dan dengan sistem monitor 5.8GHz video memungkinkan untuk dapat melihat setiap momen yang tertangkap kamera alat ini.

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          img.responsive(src='images/elang.gif')
          span.jenis.animated.infinite.rubberBand 
            div Jenis Drone

          ul.poin
            li 
            li.span.glyphicon.glyphicon-screenshot.icon Multicopter  
            li Keuntungan dari multicopter bisa terbang vertikal hingga 300 meter. Jenis drone ini dapat terbang selama 40 menit dengan area cover 100 - 400 hektare.
            li.span.glyphicon.glyphicon-screenshot.icon Fixed Wing
            li Untuk jenis fixed wing, meski bisa meliputi area yang jauh lebih luas dan terbang hingga 1.5 jam, drone ini tidak bisa terbang secara vertikal.

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3.jdl3.animated.infinite.flash Jenis Baling-Baling Drone
          h5 DRONE / UAV  adalah pesawat tanpa awak yang dalam hal ini dibagi menjadi berapa banyak baling baling yang mengerakkannya jadi bisa disebut sebagai berikut

          ul.poin
            li 
            li 2 copter : baling balingnya berjumlah dua
            li 3 copter / tricopter : baling balingnya berjumlah  tiga
            li 4 copter / quadcopter : baling balingnya ada 4
            li 6 copter / Hexa copter : baling balingnya ada 6
            li 8 copter / Octa copter : baling baling drone ada 8

        section.emphatic-text(data-bespoke-backdrop='emphatic')

    
  script(src='build/build.js')
  script(src='build/jquery.js')
  script(src='build/bootstrap.min.js')
  script(src='build/jquery.etalage.min.js')

  script.
    jQuery(document).ready(function($){
    $('#etalage').etalage({
    thumb_image_width: 150,
    thumb_image_height: 200,
    show_hint: true,
    click_callback: function(image_anchor, instance_id){
    alert('Callback example:\\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
    }
    });
    // This is for the dropdown list example:
    $('.dropdownlist').change(function(){
    etalage_show( $(this).find('option:selected').attr('class') );
    });
    });

  
  