doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Teknologi Drone

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='build/etalage.css')
    link(rel='stylesheet', type='text/css', href='build/animate.css')

  body   
  .container
    .row
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            span.glyphicon.glyphicon-star.star 
            span.glyphicon.glyphicon-star.star
            span.glyphicon.glyphicon-star.star 
             
            a.navbar-brand(href='#') X - 
              span.red Red 
              span.yellow TEAM

          .navbar-collapse.collapse
            ul.navbar-right.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.glyphicon.glyphicon-check.glyphiconY
                  |  File Presentasi
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#3') Pengertian Drone 
                  li
                    a(href='#4') Sejarah singkat Drone
                  li
                    a(href='#6') Jenis Drone
                  li
                    a(href='#8') Bagian Komponen Drone
                  li
                    a(href='#15') Arah dan Gerakan Drone
                  li
                    a(href='#') Poin 6

      article
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h2.jdl.animated.infinite.zoomIn TEKNOLOGI DRONE

          div
            span.glyphicon.glyphicon-facetime-video.glyphiconX 
              span.jdl2 CAMERA 

          img.logo(src='images/drone.png')

        section.emphatic-text(data-bespoke-backdrop='emphatic') 
          .container
            .col.lg-8
              .row
                ul#etalage
                  li
                    img.etalage_thumb_image(src='./images/@bezaro.jpg')
                    img.etalage_source_image(src='./images/@bezaro.jpg') 
                  li
                    img.etalage_thumb_image(src='./images/@hana.jpg')
                    img.etalage_source_image(src='./images/@hana.jpg') 
                  li
                    img.etalage_thumb_image(src='./images/@noel.jpg')
                    img.etalage_source_image(src='./images/@noel.jpg') 

          div.sideright Nama Anggota
            h2.tim Bezaro Gea [15.111.3411]
            
            h2.tim Hana Girsang [15.111.2173]
            
            h2.tim Noel Anugerah Telaumbanua [15.111.0784]

          row.edu 2017
                    
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3.jdl3.animated.infinite.flash Pengertian Drone
          
          img.img-responsive(src='images/dronex.gif') 
          
          span.par1 Drone [Helicam] adalah sebuah alat unik yang bisa memotret atau merekam gambar dari ketinggian maksimal 11.000 kaki, karena alat ini memang bisa terbang. Prinsip alat ini menggunakan kamera Canon 7D DSLR, selain itu alat ini juga di lengkapi dengan GPS (Global Position System) yang memungkinkan tetap dapat memonitor keberadaan alat ini saat terbang dan dengan sistem monitor 5.8GHz video memungkinkan untuk dapat melihat setiap momen yang tertangkap kamera alat ini.

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3.jdl5 Sejarah singkat tentang Drone Camera

          span.par1 Drone (Pesawat tanpa Awak) sebenarnya ide yang berkembang sejak awal abad 19, sebelum Perang Dunia I. Wikipedia yang merujuk makalah dari "Centre for Telecommunications and Information Engineering (CTIE)"" Monash University menyebut bahwa konsep pesawat tanpa awak ini pertama kali digunakan 22 Agustus 1849. Saat itu, Austria yang menguasai mayoritas wilayah Italia meluncurkan sekitar 200 balon udara tanpa awak ke Venesia. Balon-balon itu memuat bom yang dilengkapi dengan sumbu waktu. Ada pula informasi bahwa balon itu juga memakai sekering listrik yang diaktifkan dengan sinyal melalui kabel-kabel tembaga yang dipasang di sekitar balon.

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          span.par1.layout14 Kemudian, pada 8 November 1898 Nicolas Tesla, penemu AS keturunan Serbia mematenkan remote control atau pengendali jarak jauh temuannya. Remote control ini menjadi dasar ilmu robotik kontemporer. Tesla membuat kapal dan balon yang bisa dikendalikan dari jarak jauh. Setelah itu teknologi berkembang dengan pesatnya. Teknologi pesawat-pesawat aeromodel yang dikendalikan jarak jauh pun berkembang pesat. 
          
          div
          span.par1.par_mar.layout14 Seiring dengan berkembangnya zaman, maka teknologi yang dipakai dalam drone semakin canggih, selain itu kegunaan drone juga terus berkembang tak hanya dalam bidang militer saja. 

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          img.responsive(src='images/elang.gif')
          span.jenis.animated.infinite.rubberBand 
            div Jenis Drone

          ul.poin
            li 
            li.span.glyphicon.glyphicon-screenshot.icon Multicopter  
            li Keuntungan dari multicopter bisa terbang vertikal hingga 300 meter. Jenis drone ini dapat terbang selama 40 menit dengan area cover 100 - 400 hektare.
            li.span.glyphicon.glyphicon-screenshot.icon Fixed Wing
            li Untuk jenis fixed wing, meski bisa meliputi area yang jauh lebih luas dan terbang hingga 1.5 jam, drone ini tidak bisa terbang secara vertikal.
    
        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3.jdl3 Jenis Baling-Baling Drone
          
          div
          span.uav DRONE ( UAV )  adalah pesawat tanpa awak yang dalam hal ini dibagi menjadi berapa banyak baling baling yang mengerakkannya.
          
          div.copter
            span 2 copter = baling balingnya berjumlah dua
            br
            span 3 copter [tricopter] = baling balingnya berjumlah tiga
            br
            span 4 copter [quadcopter] = baling balingnya berjumlah empat
            br
            span 6 copter [hexacopter] = baling balingnya berjumlah enam
            br
            span 8 copter [octacopter] = baling balingnya berjumlah delapan

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          h3.jdl4 Bagian dari Drone

          div.copterX
            span.bagian ROTOR
              div
              span.uavX Dinamo pengerak dari propeller dan jumlahnya tergantung dari jenis drone itu sendiri, besaran rotornya juga tergantung dari besar kecilnya drone.

          img.gambar(src='images/rotor.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          div.copterY
            span.bagian GIMBAL
              div
              span.uavY System penstabil dari camera, juga sebagai penghubung antara drone dan camera. Bentuknya masing masing berbeda tetapi memiliki kegunaan yang sama yaitu membuat stabil pengambilan foto atau video dengan menggunakan drone sehingga guncangan dari drone, dan angin tidak membuat foto mejadi goyang atau blur.
          
          img.gambar(src='images/gimbal.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          div.copterX
            span.bagian CAMERA
              div
              span.uavX Camera yang dipakai untuk menampilkan image untuk melihat, memotret, melakukan recording video.

          img.gambar(src='images/kamera.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          div.copterX
            span.bagian PROPELLER
              div
              span.uavX Baling baling yang dipakai untuk memberikan daya angkat pada drone, pengendali arah, dan penyeimbang, jumlah dari propeller tersebut bervariasi ada yang yang jumlahnya 2, 3, 4, 8 dan seteterusnya.

          img.gambar(src='images/propeller.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          div.copterY
            span.bagian LANDING SKID
              div
              span.uavY Kaki drone yang dipakai untuk melakukan pendaratan, bentuknya bermacam macam dan terkadang bisa digerakan naik dan turun sesuai kebutuhan. 

          img.gambar(src='images/landing.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          div.copterX
            span.bagian SHOCK ABSORBER
              div
              span.uavX Peredam getaran yang dipakai di drone untuk membantu memberikan keseimbagan camera sehingga tetap lurus dan stabil, tidak semuanya drone memiliki  ini tetapi didalam gimbal sudah ada fungsi ini.

          img.gambar(src='images/shock.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          div.copterY
            span.bagian REMOTE CONTROL
              div
              span.uavY Berfungsi untuk menggerakkan drone dari jarak jauh. biasa di drone RC ini dipasangkan dengan device seperti smartpone, tablet, komputer yang dipakai untuk visualisasi dari drone itu sendiri dan memantau pergerakannya dari jarak jauh

          img.gambar(src='images/rc.jpg')

        section.emphatic-text(data-bespoke-backdrop='emphatic')
          span.jdl5 Arah & Gerakan Drone
          
          ul.poin2
            li
            li.span.model 3 AXIS  
            li Drone dapat digerakan ke 3 titik sumbu. Dengan drone quadcopter, drone dapat digerakan ke depan, kekiri kekanan, dan berputar atau pada sumbu x, y, z atau sering disebut gerakan Pitch, Roll, dan Yaw.
            li.span.model THROTTLE
            li Pengendali dari rotor dari drone tersebut bisa juga disebut "stik". Throttle Down artinya drone diarahkan kebawah, Throttle up artinya drone naik ke atas (arahkan stik ketas).
            li.span.model AUTO TAKE OFF & LANDING
            li Drone bisa diterbangkan secara langsung hanya dengan menekan tombol dan drone akan take off secara automatic begitu pula dengan landingnya. 

          li.span.glyphicon.glyphicon-hand-right.next_icon 
            
        section.emphatic-text(data-bespoke-backdrop='emphatic') 
          ul.poin2.layout14
            li
            li.span.model ALERION
            li Untuk menggerakan stik kekanan atau kekiri sama dengan roll.
            li.span.model ELEVATOR
            li Untuk menggerakan stik ke depan dan kebelakang atau sama dengan pitch control.
            li.span.model FIGURE 8
            li Drone terbang membentuk arah atau bentuk angka 8.

      
  script(src='build/build.js')
  script(src='build/jquery.js')
  script(src='build/bootstrap.min.js')
  script(src='build/jquery.etalage.min.js')

  script.
    jQuery(document).ready(function($){
    $('#etalage').etalage({
    thumb_image_width: 150,
    thumb_image_height: 200,
    show_hint: true,
    click_callback: function(image_anchor, instance_id){
    alert('Callback example:\\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
    }
    });
    // This is for the dropdown list example:
    $('.dropdownlist').change(function(){
    etalage_show( $(this).find('option:selected').attr('class') );
    });
    });

  
  