doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Teknologi Drone
        img.avatar(src='images/drone.png')
        
      section
        h2 Sejarah Drone
        <p>Drone (Pesawat tanpa Awak) sebenarnya ide yang berkembang sejak awal abad 19, sebelum Perang Dunia I. Wikipedia yang merujuk makalah dari Centre for Telecommunications and Information Engineering (CTIE) Monash University menyebut bahkan konsep pesawat tanpa awak ini pertama kali digunakan 22 Agustus 1849. Saat itu, Austria yang menguasai mayoritas wilayah Italia meluncurkan sekitar 200 balon udara tanpa awak ke Venesia. Balon-balon itu memuat bom yang dilengkapi dengan sumbu waktu. Ada pula informasi bahwa balon itu juga memakai sekering listrik yang diaktifkan dengan sinyal melalui kabel-kabel tembaga yang dipasang di sekitar balon.</p> 

        
      section
        h2 Jenis-Jenis Drone
        <p><br>terdapat dua jenis drone, yaitu multicopter dan fixed wing.
        Keuntungan dari multicopter bisa terbang vertikal hingga 300 meter,Multicopter dapat terbang selama 40 menit dengan area cover 100-400 hektare.Sedang untuk jenis fixed wing, meski bisa meliputi area yang jauh lebih luas dan terbang hingga 1,5 jam, drone ini tidak bisa terbang secara vertikal.</p></br><sp>
        
      section
        h2 Jenis Baling-Baling Drone
        
        ul
          li a) 3 baling baling (3Copter)
          li b) 4 baling baling (Quadcopter)
          li c) 6 baling baling (HexaCopter)
          li d) 8 Baling baling (Octacopter)

      section
        h2 Fungsi dari Drone
        
        ul
          li 
          li 1. Berfungsi untuk misi penyelamatan (Bencana Alam atau Korban tragedi)
          li 2. Untuk Fotografi dan membuat film
          li 4. Untuk bisnis (misalnya bisnis pengantaran barang)
          li 5. Untuk misi pengintaian (biasanya dilakukan oleh militer)
          li 6. Untuk penelitian
          li 7. Untuk kepentingan Jurnalisme
          li 8. Sebagai alat pembantu perawatan Insfrastruktur
          
       
      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Jenis Baling-Baling Drone
        
        ul
          <li> a) 3 baling baling (3Copter) </li>
          li b) 4 baling baling (Quadcopter)
          li c) 6 baling baling (HexaCopter)
          li d) 8 Baling baling (Octacopter)


      section
        h2 Kegunaan Dari Drone
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')